wp-config.php
/license.txt
.idea
node_modules
logs/
deploy.php
wp-content/cache
wp-content/upgrade
wp-content/uploads
wp-content/w3tc-config
db.php
advanced-cache.php
w3-total-cache-config.php
conf/nginx/nginx.conf
