wp-config.php
/license.txt
.idea
node_modules
logs/
deploy.php
/htdocs/wp-content/plugins
/htdocs/wp-content/cache
/htdocs/wp-content/upgrade
/htdocs/wp-content/uploads
/htdocs/wp-content/w3tc-config
/htdocs/wp-includes/SimplePie
db.php
advanced-cache.php
w3-total-cache-config.php
conf/nginx/nginx.conf
