wp-config.php
/license.txt
.idea
node_modules
logs/
deploy.php
/htdocs/wp-content/plugins/acf-gallery
/htdocs/wp-content/plugins/acf-repeater
/htdocs/wp-content/plugins/advanced-custom-fields
/htdocs/wp-content/plugins/askimet
/htdocs/wp-content/plugins/amazon-s3-and-cloudfront
/htdocs/wp-content/plugins/amazon-web-services
/htdocs/wp-content/plugins/gravityforms
/htdocs/wp-content/plugins/ilmenite-olark
/htdocs/wp-content/plugins/index.php
/htdocs/wp-content/plugins/jetpack
/htdocs/wp-content/plugins/json-rest-api
/htdocs/wp-content/plugins/mailchimp-for-wp
/htdocs/wp-content/plugins/nav-menu-roles
/htdocs/wp-content/plugins/nginx-helper
/htdocs/wp-content/plugins/w3-total-cache
/htdocs/wp-content/plugins/widget-importer-exporter
/htdocs/wp-content/plugins/woocommerce
/htdocs/wp-content/plugins/woocommerce-simple-registration
/htdocs/wp-content/plugins/woocommerce-social-login
/htdocs/wp-content/plugins/woocommerce-subscriptions
/htdocs/wp-content/plugins/wordpress-importer
/htdocs/wp-content/plugins/wordpress-seo
/htdocs/wp-content/plugins/advanced-ads/
/htdocs/wp-content/plugins/optimizely/
/htdocs/wp-content/plugins/segmentio/
/htdocs/wp-content/plugins/sumome/
/htdocs/wp-content/plugins/wp-job-manager
/htdocs/wp-content/plugins/wp-job-manager-bookmarks
/htdocs/wp-content/plugins/wp-job-manager-contact-listing
/htdocs/wp-content/plugins/wp-job-manager-locations
/htdocs/wp-content/plugins/wp-job-manager-reviews
/htdocs/wp-content/plugins/wp-job-manager-tags
/htdocs/wp-content/cache
/htdocs/wp-content/upgrade
/htdocs/wp-content/uploads
/htdocs/wp-content/w3tc-config
db.php
advanced-cache.php
w3-total-cache-config.php
conf/nginx/nginx.conf
/htdocs/.htaccess
/htdocs/nginx.conf
/htdocs/wp-includes/SimplePie/Cache/DB.php
