@import "bourbon";
@import "neat";

$brand-color: #123865;
$brand-orange: #FA7C38;
$brand-orange-light: #FF9963;
$sexy-gray: #f3f6f9;
$blue: #477dca;
$dark-gray: #333;
$action-color: $blue;

$container-width: em(1140);
$container-smaller: em(960);

$mobile-screen: em(480);
$tablet-screen: em(768);
$full-screen: em(980);
$large-screen: em(1200);
$nice-screen: em(320);

$mobile-screen-down: new-breakpoint(max-width $nice-screen);
$tablet-screen-down: new-breakpoint(max-width $tablet-screen);
$full-screen-down: new-breakpoint(max-width $full-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);

$mobile-screen-up: new-breakpoint(min-width $nice-screen);
$tablet-screen-up: new-breakpoint(min-width $tablet-screen);

.search-overlay .container {
  top: 12px;
}

.site-branding img {
  width: 200px;
}

#menu-primary .menu-type-link {
  float: right;
}

#icon-logo {
  overflow-y: hidden;
  max-width: 0px; /* approximate max height */
  margin-top: 6px;
  display: inline-block;

  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  img {
    width: 40px;
    height: auto;
    border-radius: 3px;
  }

  .fixed & {
    max-width: 40px;
    margin-left: 5px;
    margin-right: 15px;
  }
}

.navigation-bar-wrapper > .secondary {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}


#help-head {
  line-height: 30px;
  float: right;
  vertical-align: top;
  font-size: 18px;
  padding: 10px 0;
}

.help-line {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 24px;
}

.help-cta-copy {
  position: relative;
  bottom: 1px;
}

#top-bar {
  height: 30px;
  background: darken(#123865, 2);
  border-bottom: 1px solid lighten(#123865, 1.5);

  ul {
    vertical-align: middle;
    margin: 0;
    padding: 5px;
  }
  li {
    display: inline-block;
    margin-right: 15px;
  }
  a {
    color: rgba(255, 255, 255, .85);
    font-weight: 100;
    letter-spacing: .75px;
    font-size: em(15);

    &:hover {
      color: rgba(255, 255, 255, .95);
      transition: color 200ms ease;
    }
  }
}

.fixed {

  #site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #content {
    margin-top: 55px;
  }
}

.sponsored-listing {
  text-align: center;
  width: 100%;
}

.section-info {
  text-align: right;
  position: relative;
  right: 5px;
  bottom: 20px;
}

.mission-statement {
  h4 {
    margin-top: 0;
  }

  p {
    font-size: em(16);
    letter-spacing: .5px;
  }
}

.subscribe {
  input {
    @include calc(max-width, '100% - 140px');
    width: 275px;

  }

  p {
    font-size: em(16);
    letter-spacing: .5px;
  }

}

.widget_nav_menu li {
  font-size: em(16);
  letter-spacing: .5px;
  padding: 5px 0;
}

.popover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background: rgba(25, 25, 25, .85);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;

  @include media($tablet-screen-down) {
    top: 25px;
  }


  &.open {
    visibility: visible;
  }

  .pop-contain {
    background: white;
    border-radius: 5px;
    //padding: 10px;
    width: 95%;
    height: 90%;
    max-width: em(1140);
    position: relative;
    min-width: 320px;
    max-width: 960px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: scroll;
  }

  &.open .pop-contain {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .pop-content {
    //@include flex(1);
  }

  .content-container {
    //@include flex(1);
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(space-between);
    overflow: auto;
  }

  .pop-close {
    position: absolute;
    right: 10px;
    font-size: em(24);
    cursor: pointer;
    z-index: 99;
    padding: 10px;
  }
}

#help-pop {
  background: $brand-color;

  .pop-contain {
    background: $sexy-gray;
  }

  .help-intro {
    @include flex-shrink(0);
    padding: 50px 0 30px;
    h3 {
      font-size: em(24);
      font-weight: normal;
      text-align: center;
    }
    p {
      padding: 0 15px;
      text-align: center;
      font-size: em(14);
    }
  }

  .action-active {

    .help-intro {
      padding: 0;
      height: 0;
      opacity: 0;
      @include transition(height 200ms ease-out);
    }
    .pop-actions {
      margin-top: 50px;
      //@include transition(all 400ms ease-in);
    }
  }
  .pop-content {
    //position: relative;
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
  }

  .pop-actions {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include flex-shrink(0);
    padding: 0 10px;

    .action {
      margin: 10px 15px;
      width: 300px;
      @include flex-shrink(0);

      a {
        display: block;
        text-align: center;
        padding: 25px;
        font-size: em(28);
        letter-spacing: 1px;
        border-radius: 2px;
      }
    }

    #call-now {
      background: #62b863;
      color: white;
    }

    #we-call {
      background: $blue;
      color: white;
      //color: lighten($blue, 30);
    }
  }

  .pop-action-content {
    @include flex-shrink(0);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    padding: 0 10px;
    min-height: 147px;
    .action-content {
      margin: 25px 0;
      display: none;
    }

    &.active {
      div {
        display: block;
      }
    }

    #call-now-content {
      text-align: center;

      h2 {
        font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
        //color: #62b863;
        color: $dark-gray;
        font-size: em(48);
        margin-bottom: 0;
      }

      @include media($tablet-screen-down) {
        h2 {
          font-size: em(40);
          color: $dark-gray;
        }
      }
    }

    #we-call-content {
      width: 100%;
      margin: 10px 0;
      form {
        margin: 0 auto;
        max-width: 800px;

        .input-container {
          @include display(flex);
          @include justify-content(center);
          margin: 10px 0;

          @include media($tablet-screen-down) {
            @include flex-direction(column);
            input {
              width: 100%;
              &:first-of-type {
                margin-bottom: 5px;
              }
            }
          }
        }

        .submit {
          margin: 10px 0;
          button {
            width: 100%;
            border-radius: 0;
            font-size: em(18);
            letter-spacing: em(1);
          }
        }

        input {
          &:first-of-type {
            margin-right: 10px;
          }
          &:active, &:focus {
            border-color: $action-color;
          }
          border-color: #aaa;
          border-radius: 0;
          margin-bottom: 0;
          width: 50%;
        }

      }
    }
    @include media($tablet-screen-down) {
      padding: 20px 10px;
    }
  }

  .pop-heading {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-shrink(0);
    width: 95%;
    margin-right: 0;
    margin-left: auto;

    @include media($tablet-screen-down) {
      display: block;
      width: auto;
      margin: 0;
    }
    h2 {
      text-align: center;
      font-size: em(26);
      width: 100%;
      margin-bottom: 0;
      color: $brand-color;
    }
    h3 {
      font-size: em(22);
      font-weight: normal;
      margin-bottom: 5px;
      letter-spacing: 1px;
      margin-top: 15px;
      .number {
        color: #62b863;
        font-weight: bold;
        font-size: 125%;
        letter-spacing: 0;
      }
    }
    img {
      @include flex-shrink(0);
      margin-left: 15px;
      height: 150px;
      overflow: hidden;
      position: relative;
      //right: -2px;
    }

    @include media($tablet-screen-down) {
      padding: 20px 10px;

      h2 {
        font-size: em(22);
      }
      h3 {
        font-size: em(18);
        text-align: center;
      }
      img {
        display: none;
      }
    }
  }

  .pop-footer {
    background: white;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
}
